header{
    background-image: linear-gradient(to right, #8B0000, #FF6347, #FFDAB9);
}
.h1-header{
    padding: 10px 10px;
    text-align: center;
}
nav > a{
    color: white;
    text-decoration: none;
    padding: 10px;
}